@* @{ *@
@*     ViewBag.Title = "Home Page"; *@
@* } *@




@* <h2>Employee</h2> *@

@* <h2>Thêm Nhân Viên</h2> *@
@* <div class="container mt-4"> *@
@*     <form asp-action="Create"> *@
@*         <div class="row g-3"> *@
@*             <div class="col-md-4"> *@
@*                 <label for="HoTen" class="form-label">1. Họ Tên:</label> *@
@*                 <input type="text" class="form-control" asp-for="HoTen" required /> *@
@*             </div> *@

@*             <div class="col-md-4"> *@
@*                 <label for="NgaySinh" class="form-label">2. Ngày Sinh:</label> *@
@*                 <input type="date" class="form-control" asp-for="NgaySinh" required /> *@
@*             </div> *@

@*             <div class="col-md-2"> *@
@*                 <label for="Tuoi" class="form-label">3. Tuổi:</label> *@
@*                 <input type="number" class="form-control" asp-for="Tuoi" required /> *@
@*             </div> *@

@*             <div class="col-md-2"> *@
@*                 <label for="DanToc" class="form-label">4. Dân Tộc:</label> *@
@*                 <select class="form-select" asp-for="DanToc"> *@
@*                     <option value="">Chọn dân tộc</option> *@
@*                     <option value="Kinh">Kinh</option> *@
@*                     <option value="Tày">Tày</option> *@
@*                     <option value="Nùng">Nùng</option> *@
@*                 </select> *@
@*             </div> *@

@*             <div class="col-md-4"> *@
@*                 <label for="NgheNghiep" class="form-label">5. Nghề Nghiệp:</label> *@
@*                 <select class="form-select" asp-for="NgheNghiep"> *@
@*                     <option value="">Chọn nghề nghiệp</option> *@
@*                     <option value="Giáo viên">Giáo viên</option> *@
@*                     <option value="Bác sĩ">Bác sĩ</option> *@
@*                 </select> *@
@*             </div> *@

@*             <div class="col-md-4"> *@
@*                 <label for="CCCD" class="form-label">6. Căn Cước Công Dân:</label> *@
@*                 <input type="text" class="form-control" asp-for="CCCD" /> *@
@*                 <div class="form-check mt-2"> *@
@*                     <input class="form-check-input" type="checkbox" asp-for="KhongCoCCCD" /> *@
@*                     <label class="form-check-label" for="KhongCoCCCD">Không có CCCD</label> *@
@*                 </div> *@
@*             </div> *@

@*             <div class="col-md-4"> *@
@*                 <label for="SoDienThoai" class="form-label">7. Số Điện Thoại:</label> *@
@*                 <input type="text" class="form-control" asp-for="SoDienThoai" /> *@
@*                 <div class="form-check mt-2"> *@
@*                     <input class="form-check-input" type="checkbox" asp-for="KhongCoSDT" /> *@
@*                     <label class="form-check-label" for="KhongCoSDT">Không có SĐT</label> *@
@*                 </div> *@
@*             </div> *@
@*             <div class="row g-3"> *@

@*                 <div class="col-md-4"> *@
@*                     <label for="DịaChi" class="form-label">8. Địa chỉ:</label> *@
@*                 </div> *@
@*             </div> *@

@*             <div class="row"> *@
@*                 <div class="col"> *@
@*                     <select class="form-select" asp-for="TinhThanhPho"> *@
@*                         <option value="">Chọn Tỉnh/ Thành phố</option> *@
@*                         <option value="Hà Nội">Hà Nội</option> *@
@*                         <option value="Hồ Chí Minh">Hồ Chí Minh</option> *@

@*                     </select> *@
@*                 </div> *@
@*                 <div class="col"> *@
@*                     <select class="form-select" asp-for="QuanHuyen"> *@
@*                         <option value="">Chọn Quận/ Huyện</option> *@
@*                         <option value="Quận 1">Quận 1</option> *@
@*                         <option value="Quận 2">Quận 2</option> *@

@*                     </select> *@
@*                 </div> *@
@*                 <div class="col"> *@
@*                     <select class="form-select" asp-for="XaPhuong"> *@
@*                         <option value="">Chọn Xã/ Phường</option> *@
@*                         <option value="Phường 1">Phường 1</option> *@
@*                         <option value="Phường 2">Phường 2</option> *@

@*                     </select> *@
@*                 </div> *@
@*                 <div class="col"> *@
@*                     <input type="text" class="form-control" asp-for="DiaChi" placeholder="Cụ thể" /> *@
@*                 </div> *@
@*             </div> *@



@*             <div class="col-12 text-end"> *@
@*                 <button type="submit" class="btn btn-primary">Xác nhận</button> *@
@*                 <a class="btn btn-secondary">Hủy</a> *@
@*             </div> *@
@*         </div> *@
@*     </form> *@
@*     <div class="mt-4"> *@
@*         <a href="@Url.Action("Index", "Employee")" class="text-decoration-none"> *@
@*             < Danh sách Employee *@
@*         </a> *@
@*     </div> *@
@* </div> *@