<div class="container mt-4">
    <div class="row">
        <!-- TỈNH -->
        <div class="col-md-4">
            <h5>Danh sách Tỉnh</h5>
            <ul id="tinh-list" class="list-group mb-3">
                <!-- Danh sách tỉnh render ở đây -->
            </ul>
            <div class="input-group mb-2">
                <input type="text" id="tinh-name" class="form-control" placeholder="Tên tỉnh...">
                <button class="btn btn-primary" onclick="addTinh()">Thêm</button>
            </div>
        </div>

        <!-- HUYỆN -->
        <div class="col-md-4">
            <h5>Danh sách Huyện</h5>
            <ul id="huyen-list" class="list-group mb-3">
                <!-- Danh sách huyện render ở đây -->
            </ul>
            <div class="input-group mb-2">
                <input type="text" id="huyen-name" class="form-control" placeholder="Tên huyện...">
                <button class="btn btn-success" onclick="addHuyen()">Thêm</button>
            </div>
        </div>

        <!-- XÃ -->
        <div class="col-md-4">
            <h5>Danh sách Xã</h5>
            <ul id="xa-list" class="list-group mb-3">
                <!-- Danh sách xã render ở đây -->
            </ul>
            <div class="input-group mb-2">
                <input type="text" id="xa-name" class="form-control" placeholder="Tên xã...">
                <button class="btn btn-info" onclick="addXa()">Thêm</button>
            </div>
        </div>
    </div>
</div>
